package one.wabbit.data

import kotlinx.serialization.KSerializer
import kotlinx.serialization.Serializable
import kotlinx.serialization.builtins.ListSerializer
import kotlinx.serialization.builtins.serializer
import kotlinx.serialization.descriptors.SerialDescriptor
import kotlinx.serialization.encoding.Decoder
import kotlinx.serialization.encoding.Encoder

@Serializable(with = {{type}}Buf.TypeSerializer::class)
class {{type}}Buf(var capacity: Int = 16) {
    private var size: Int = 0
    private var buffer = {{type}}Array(capacity)

    constructor(values: {{type}}Array) : this(values.size) {
        values.copyInto(buffer)
        size = values.size
    }

    fun ensureCapacity(capacity: Int) {
        if (capacity > this.capacity) {
            val newCapacity = this.capacity * 3 / 2
            val newBuffer = {{type}}Array(newCapacity)
            buffer.copyInto(newBuffer)
            this.buffer = newBuffer
            this.capacity = newCapacity
        }
    }

    fun toList(): List<{{type}}> {
        return buffer.copyOf(size).toList()
    }

    fun pushLast(value: {{type}}) {
        ensureCapacity(size + 1)
        buffer[size++] = value
    }

    fun pushLast(values: {{type}}Array) {
        ensureCapacity(size + values.size)
        values.copyInto(buffer, size)
        size += values.size
    }

    fun pushLast(values: {{type}}Buf) {
        ensureCapacity(size + values.size)
        values.buffer.copyInto(buffer, size)
        size += values.size
    }

    fun pushFirst(value: {{type}}) {
        ensureCapacity(size + 1)
        buffer.copyInto(buffer, 1, 0, size)
        buffer[0] = value
        size++
    }

    fun pushFirst(values: {{type}}Array) {
        ensureCapacity(size + values.size)
        buffer.copyInto(buffer, values.size, 0, size)
        values.copyInto(buffer, 0)
        size += values.size
    }

    fun pushFirst(values: {{type}}Buf) {
        ensureCapacity(size + values.size)
        buffer.copyInto(buffer, values.size, 0, size)
        values.buffer.copyInto(buffer, 0)
        size += values.size
    }

    fun popLast(): {{type}} {
        return buffer[--size]
    }

    fun popLast(count: Int): {{type}}Array {
        val result = {{type}}Array(count)
        buffer.copyInto(result, 0, size - count, size)
        size -= count
        return result
    }

    operator fun get(index: Int): {{type}} {
        return buffer[index]
    }

    operator fun set(index: Int, value: {{type}}) {
        require(index in 0..<size) { "Index out of bounds: $index" }
        buffer[index] = value
    }

    class TypeSerializer : KSerializer<{{type}}Buf> {
        override val descriptor: SerialDescriptor = ListSerializer({{type}}.serializer()).descriptor

        override fun serialize(encoder: Encoder, value: {{type}}Buf) {
            encoder.encodeSerializableValue(ListSerializer({{type}}.serializer()), value.toList())
        }

        override fun deserialize(decoder: Decoder): {{type}}Buf {
            return {{type}}Buf(decoder.decodeSerializableValue(ListSerializer({{type}}.serializer())).to{{type}}Array())
        }
    }
}
